
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("ADMIN Nón HIHIHI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Danh sách nón", "Index", "Home")</li>
                <li>@Html.ActionLink("Thể loại nón", "Index", "TheLoai")</li>
                <li>@Html.ActionLink("Order", "Index", "Bill")</li>
                <li>@Html.ActionLink("FeedBack", "Index", "FeedBack")</li>
                <li>@Html.ActionLink("Account", "Index", "Account")</li>
                <li>@Html.ActionLink("Account Khách","Index","Customer")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Copyrighted by Van Minh Quang - 1911061389</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
</body>
</html>
